{% extends "base.html" %}

{% block title %}Статистика / {{ block.super}}{% endblock %}

{% block content %}
<h1>FUN RUN</h1>
<a href="{% url 'match:start_match' %}">Начать новый матч</a>
<h2>Матчи</h2>
{% include "inc/paginator.html" %}
<table class="matches">
	<tr>
		<th>Матч</th>
		<th>Дата</th>
		<th>Игроки</th>
		<th>Раунды</th>
		<th>Время</th>
		<th>Результат</th>
	</tr>
	{% for match in page.object_list %}
		<tr>
			<td><a href="{% url 'match:match' match_id=match.id %}">{{ match }}</a></td>
			<td>{{ match.end_time|date:"d E Y"|default:"Не завершён" }}</td>
			<td>{{ match.players.count }}</td>
			<td>{{ match.round_set.count }}</td>
			<td>{{ match.get_duration }}</td>
			<td>
				<ul>
					{% for leave in match.leave_set.all %}
						{% if leave.place > 0 %}
							<li class="place{{ leave.place }}">{{ leave.place }}: {{ leave.player }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</td>
		</tr>
	{% endfor %}
</table>
{% include "inc/paginator.html" %}
{% include "match/inc/month_stats.html" %}
<p>
	<a href="{% url 'history:sheets' %}">Заглянуть в историю</a>
</p>
{% endblock %}
